* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#DevToolsLoginDialog {
    display: none;
}

#mainPopup {
    padding: 10pt;
    min-height: 200pt;
    min-width: 300pt;
    max-width: 600pt;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 0;
}

h1 {
    font-size: 2em;
    margin: 0;
}

label {
    margin-top: 10px;
    display: block;
}

input,
textarea,
select {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
}

select {
    margin-bottom: 10px;
}

select#actions {
    display: none;
}

button {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #5cb3e5;
    border-color: transparent;
    cursor: pointer;
    outline: none;
}

#result {
    height: 150px;
    margin-top: 10px;
    border-style: dotted;
}

.loader {
    height: 80px;
    padding-top: 30px;
    line-height: 3;
    padding-bottom: 10px;
    top: calc(50% - 75px);
    width: 25px;
    margin: auto;
    display: none;
}

.loader .loading {
    position: relative;
    text-align: center;
    padding-bottom: 2%;
    line-height: 0;
}

.loader .loading {
    line-height: auto !important;
}

.loader .loading-text {
    text-align: center;
    color: #4c4c4c;
    font-family: 'Open Sans', sans-serif;
}

.loader .loading-bar {
    display: inline-block;
    width: 6px;
    height: 23px;
    border-radius: 4px;
    -webkit-animation: loading 1s ease-in-out infinite;
    animation: loading 1s ease-in-out infinite;
}

.loader .loading-bar:nth-child(1) {
    background-color: #68bd45;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader .loading-bar:nth-child(2) {
    background-color: #e3a917;
    -webkit-animation-delay: 0.09s;
    animation-delay: 0.09s;
}

.loader .loading-bar:nth-child(3) {
    background-color: #5cb3e5;
    -webkit-animation-delay: .18s;
    animation-delay: .18s;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1, 2.2);
        transform: scale(1, 2.2);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1, 2.2);
        transform: scale(1, 2.2);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/** TABS */
ul.ui-tabs-nav {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}

ul.ui-tabs-nav:after,
ul.ui-tabs-nav li:last-child:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.ui-tabs-tab a,
.ui-tabs-tab a:hover,
.ui-tabs-tab a:visited,
.ui-tabs-tab a:active {
    color: #000;
    text-decoration: none;
    outline: none;
    padding: 10px;
    display: block;
}

.ui-tabs-tab {
    float: left;
    display: inline;
    background: #ccc;
    margin: 0 5px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    outline: none;
}

.ui-tabs-tab:first-child {
    margin-left: 0;
}

.ui-tabs-tab.ui-tabs-active {
    background: #5cb3e5;
}

.ui-tabs-tab.ui-tabs-active a {
    color: #fff;
}

.ui-tabs-tab::after {
    display: block;
    clear: both;
}

.ui-tabs-panel {
    padding-top: 5px;
    border-top: 1px solid #eee;
}
